.contain {
    width: 100%;
    display: flex;
    justify-content: center;
    .formContainer {
        width: 60%;
        border: 1px solid gray;
        border-radius: 7px;
        .cancelBox {
            display: flex;
            background-color: #8f3cde;
            padding: 0px 20px;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            border-radius: 7px 7px 0 0;
            .cancelButton {
                color: white;
            }
            .cancelButton:hover {
                background-color: #8f3cde;
            }
        }
        .formContent {
            padding: 10px 30px;
            .inputAlign {
                width: 100%;
                display: flex;
                gap: 30px;
                padding: 20px 0;
                div {
                    width: 100%;
                }
            }
            input {
                background-color: #8fbc8f3d;
            }
            textArea {
                background-color: #8fbc8f3d;
                padding: 10px 10px;
                resize: none;
            }
            .formBtn {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
            .dropDown {
                width: 25%;
            }
            .approvedStatus {
                display: flex;
                gap: 30px;
                padding: 20px 0;
            }
        }
    }
}