.btnAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
    .dropContain {
        width: 100%;
        display: flex;
        .dropDown {
            width: 15%;
        }
    }
    .newButton {
        background-color: #8f3cde;
        padding: 9px 15px;
        color: 'white';
        border-radius: 5px;
        margin-top: 10px;
    }
    .searchBox {
        display: flex;
        align-items: flex-end;
        gap: 25px;
        flex-direction: row-reverse;
    }
}

.backBtn {
    display: flex;
    width: max-content;
    align-items: center;
    i {
        font-size: 20px;
    }
}

.errorMsg {
    text-align: center;
    i {
        font-size: 30px;
        color: red;
    }
    h1,
    h2 {
        margin: 0;
    }
}